<<<<<<< HEAD
h1 {
    color: #880000;
}

p {
    color: #0000FF;
}

i {
    color: #FF4499;
}

/* 0, 0, 0, 1 = 1 */
span {
    color: #96ee8e;
}

/* 0, 0, 1, 0 = 10 */
.text {
    color: #00FFFF;
}

/* 0, 0, 0, 1 + 0, 0, 1, 0 = 0, 0, 1, 1 */
p .text {
    color: #40fa8d;
}

/* 0,0,0,1 + 0,0,0,1 + 0,0,1,0 = 0,0,1,2 */
p span.text {
    color: #A216AF;
}

/* 0,0,0,1 -> 1,0,0,0*/
/* .text { */
    /* color: #0A30D8 !important; */
/* } */

/* 0,1,0,0 */
#excepturi {
    color: #000000;
}

div {
    background-color: #d11a29;
    color: #ffffff;

    /* margin: 10px; */
    margin-bottom: 10px;
    /* margin-right: 5px; */
    /* margin-left: 5px; */
    /* margin-top: 25px; */ 

    /* margin: 10px 5px 10px 5px; */
    /* margin: 10px 5px; */
    /* margin: 10px 15px 25px; */

    border: 5px solid #000000;
    padding: 100px;

    width: 50%;

    /* padding-bottom: 10px; */
    /* padding-right: 5px; */
    /* padding-left: 5px; */
    /* padding-top: 25px; */ 

    /* padding: 10px 5px 10px 5px; */
    /* padding: 10px 5px; */
    /* padding: 10px 15px 25px; */
}

* {
    margin: 0;
}

.container {
    background-color: #fff;
    border: none;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}

img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
=======
h1 {
    color: #880000;
}

p {
    color: #0000FF;
}

i {
    color: #FF4499;
}

/* 0, 0, 0, 1 = 1 */
span {
    color: #96ee8e;
}

/* 0, 0, 1, 0 = 10 */
.text {
    color: #00FFFF;
}

/* 0, 0, 0, 1 + 0, 0, 1, 0 = 0, 0, 1, 1 */
p .text {
    color: #40fa8d;
}

/* 0,0,0,1 + 0,0,0,1 + 0,0,1,0 = 0,0,1,2 */
p span.text {
    color: #A216AF;
}

/* 0,0,0,1 -> 1,0,0,0*/
/* .text { */
    /* color: #0A30D8 !important; */
/* } */

/* 0,1,0,0 */
#excepturi {
    color: #000000;
}

div {
    background-color: #d11a29;
    color: #ffffff;

    /* margin: 10px; */
    margin-bottom: 10px;
    /* margin-right: 5px; */
    /* margin-left: 5px; */
    /* margin-top: 25px; */ 

    /* margin: 10px 5px 10px 5px; */
    /* margin: 10px 5px; */
    /* margin: 10px 15px 25px; */

    border: 5px solid #000000;
    padding: 100px;

    width: 50%;

    /* padding-bottom: 10px; */
    /* padding-right: 5px; */
    /* padding-left: 5px; */
    /* padding-top: 25px; */ 

    /* padding: 10px 5px 10px 5px; */
    /* padding: 10px 5px; */
    /* padding: 10px 15px 25px; */
}

* {
    margin: 0;
}

.container {
    background-color: #fff;
    border: none;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
}

img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
>>>>>>> cfe98f0a63983530536d71827f07e4d4d73fa1f8
}